<!DOCTYPE html>
<html lang="en">
  {% include head.html %}
  <body>
    <main>
      <header>
        <h1>
          <a class="site-title" href="{{site.baseurl}}/">{{site.title}}</a>
        </h1>
        <!-- dark/light mode -->
        <span id="dark-mode-toggle" style="cursor: pointer">
          <svg
            stroke="currentColor"
            fill="currentColor"
            stroke-width="0"
            viewBox="0 0 16 16"
            height="1.2em"
            width="1.2em"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              d="M8 1a7 7 0 1 0 0 14A7 7 0 0 0 8 1zm0 13V2a6 6 0 1 1 0 12z"
            ></path>
          </svg>
        </span>
      </header>
      {% include bio.html %}
      <h2 style="margin-top: 2rem">POSTS</h2>
      <section class="articles">
        {% for post in site.posts %}
        <article class="article">
          <h3 class="article-title">
            <a href="{{site.baseurl}}{{post.url}}"> {{post.title}} </a>
            {% if post.special_type %}
            <span class="project-tag">{{post.special_type}}</span>
            {% endif %}
          </h3>
          <small class="date">{{post.date | date_to_string}}</small>
          {% if post.categories != empty and post.categories != null %}
          <div class="categories">
            Categories: {% for c in post.categories %}
            <a href="#!" data-base-url="{{site.baseurl}}" class="category"
              >{{c}}</a
            >
            {% endfor %}
          </div>
          {% endif %} {% if post.links != empty and post.links != null %}
          <div class="links">
            Links: {% for link in post.links %}
            <a href="{{link.url}}" class="link" target="_blank"
              >{{link.title}}</a
            >
            {% endfor %}
          </div>
          {% endif %}
        </article>
        {%endfor%}
      </section>

      <h2>CERTIFICATIONS</h2>

      <section class="articles">
        {% assign certs = site.certs | sort: "date" | reverse %} {% for cert in
        certs limit: 3 %}
        <article class="article">
          <h3 class="project-title">
            <a href="{{site.baseurl}}{{cert.pdf}}"> {{cert.title}} </a>
          </h3>
          <small class="date">{{cert.date | date_to_string}}</small>
        </article>
        {%endfor%}
        <small class="see-more">
          <a href="{{site.baseurl}}/certs">See More</a>
        </small>
      </section>

      {% include footer.html %}
    </main>
    {% include category-modal.html%}
  </body>
</html>
