<!DOCTYPE html>
<html lang="en">
  {% include head.html %}
  <body>
    <main>
      {% include header.html %} {% include bio.html %}
      <section class="articles">
        {% for post in site.posts %}
        <article class="article">
          <h2 class="article-title">
            <a href="{{site.baseurl}}{{post.url}}"> {{post.title}} </a>
          </h2>
          <small class="date">{{post.date | date_to_string}}</small>
          <div class="categories">
            {% for c in post.categories %}
            <a href="#!" data-base-url="{{site.baseurl}}" class="category"
              >{{c}}</a
            >
            {% endfor %}
          </div>
        </article>
        {%endfor%}
      </section>
      <h1>PROJECTS</h1>
      <section class="articles">
        {% assign projects = site.projects | sort: "date" | reverse %} {% for
        project in projects %}
        <article class="article">
          <h2 class="article-title">
            <a href="{{site.baseurl}}{{project.url}}"> {{project.title}} </a>
          </h2>
          <small class="date">{{project.date | date_to_string}}</small>
          <div class="links">
            {% for link in project.links %}
            <a href="{{link.url}}" class="link" target="_blank"
              >{{link.title}}</a
            >
            {% endfor %}
          </div>
        </article>
        {%endfor%}
      </section>
      <section class="articles">
        <h1 style="text-align: center">
          <a href="{{site.baseurl}}/certs">CERTIFICATIONS</a>
        </h1>
        <!-- List of certs with link -->
        <ul>
          {% assign certs = site.certs | sort: "date" | reverse %} {% for cert
          in certs %}
          <li>
            <a href="{{site.baseurl}}{{cert.pdf}}"> {{cert.title}} </a>
          </li>
          {%endfor%}
        </ul>
      </section>

      {% include footer.html %}
    </main>
    {% include category-modal.html%}
  </body>
</html>
