<!DOCTYPE html>
<html lang="en">
  {% include head.html %}
  <body>
    <main>
      {% include header.html %}
      <section class="article">
        <div class="article-header">
          <h2 class="article-title">{{project.title}}</h2>
          <small class="date">{{project.date | date_to_string}}</small>
          <div class="categories">
            {% for c in project.categories %}
            <a href="#!" class="category">{{c}}</a>
            {% endfor %}
          </div>
        </div>
        <div class="content">{{content}}</div>
      </section>
      {% include footer.html %}
    </main>
    {% include category-modal.html%}
  </body>
</html>
