<!DOCTYPE html>
<html lang="en">
  {% include head.html %}
  <body>
    <main>
      {% include header.html %}
      <section class="article">
        <h1>A PROJECT</h1>
        <div class="article-header">
          <h2 class="article-title">{{page.title}}</h2>
          <small class="date">{{page.date | date_to_string}}</small>
          <div class="links">
            {% for link in page.links %}
            <a href="{{link.url}}" class="link">{{link.title}}</a>
            {% endfor %}
          </div>
        </div>
        <br />
        <div class="content">{{content}}</div>
      </section>
      {% include footer.html %}
    </main>
    {% include category-modal.html%}
  </body>
</html>
